@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Klee+One:wght@400;600&family=Kosugi+Maru&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Klee+One:wght@400;600&family=Kosugi+Maru&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Rampart+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #e4ad5ac9;
}

.wrapper {
    flex-grow: 1;
}

.open {
    display: flex !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background-color: #ecc646;
    color: #FAF6F2;
    padding: 0 40px;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #FAF6F2;
    margin-left: -10px;
    width: 90px;
    height: 90px;
}

.asmer {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.nav {
    display: flex;
    width: 100%;
    padding: 0 0px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li a {
    display: block;
    text-align: center;
    color: #000000;
    border: 0px solid black;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: -10px;
    font-size: 25px;
    text-decoration: none;
}

nav li:hover {
    border-radius: 15px;
    background: #e4760f;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 10px;
    color: rgb(44, 44, 44)
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0
}

.burger::after {
    bottom: 0
}


/* Добавляем класс active для анимации иконки бургера */
.burger.active span {
    transform: scale(0)
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: 900px) {

    .burger {
        display: flex
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #d8c056e1;
        animation: burgerAnimation 0.4s;
    }

    .nav ul {
        flex-direction: column;
        row-gap: 30px;
    }
}

@keyframes burgerAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* все меню кончилось*/

body {
    background: linear-gradient(to bottom,  rgba(255, 203, 30, 0.87) 0%,rgba(249,213,159,0) 100%);
background-repeat: no-repeat;
background-size: cover;
}
#меню {
    position: absolute;
    padding-top: 1px;
    border: 1px solid black;
}
.навигация {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 6px;
}
.меню {
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color:#080808;
    background: #ffffff;
    padding: 7px;
    text-align: center;
    font-size: 17px;
}
#меню1 {
    margin-left: 50px;
    margin-right: 50px;
}
#меню7 {
    margin-left: 50px;
    margin-right: 50px;
}
#меню2 {
    margin-left: 30px;
    margin-right: 30px;
}
#меню6 {
    margin-left: 30px;
    margin-right: 30px;
}
#меню3 {
    margin-left: 15px;
    margin-right: 15px;
}
#меню5 {
    margin-left: 15px;
    margin-right: 15px;
}
a:hover.меню {
    background: #e07721ad;
    color:rgb(0, 0, 0)
    transparent 1c;
}
.правила {
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}
#Введение {
    font-family: "Comfortaa";
    text-decoration: dashed;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}
.текст1 {
    line-height: 28px;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Philosopher";
    text-indent: 15px;
}
.пирамиды {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    height: 200px;
}
h1 {
    font-family: "Comfortaa";
    text-decoration: dashed;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}
#Разметка {
    font-size: 33px ;
}
#корт {
    display: block;
    width: 45%;
    height: 150px;
    border: 0px;
    border-radius: 10px;
    margin: 10px 10px 10px auto;
    float: right;
}
.Линии {
    text-indent: 20px;
    line-height: 30px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}
#Подача {
    font-family: "Comfortaa";
    text-decoration: dashed;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.фараг {
    display: block;
    border-radius: 10px;
    width: 45%;
    float: left;
    margin: 0 10px 0 10px;
}
#Конец {
    font-size: 33px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#Решение {
    font-size: 33px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.назад {
    display: block;
    width: 130px;
    font-size: 14px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background: #8f8d8d;
    box-shadow: 0 5px 5px #b67979;
    color: #080808;
    text-transform: uppercase;
   line-height: 15px;
   text-decoration: none;
   margin-top: 30px;
   margin-bottom: 10px;
}
#Ссылка {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background: #ff3c01;
    box-shadow: 0 5px 5px #b67979;
    color: #080808;
    text-transform: uppercase;
   line-height: 10px;
   text-decoration: none;
}
footer {
    margin-top: 30px;
    margin-bottom: 10px;
}
@media (min-width: 720px) {
    .conteiner {
        margin-left: 10%;
        margin-right: 10%;
    }   
}
@media (min-width: 720px) {
    .conteiner {
        margin-left: 6%;
        margin-right: 6%;
    }
    .фараг {
        height: 250px;
        width: 200px;
        float: left;
    }
    .меню {
        font-size: 13px;
    }
    .текст1 {
        font-size: 27px;
    }
    .текст12 {
        line-height: 28px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 60px;
    margin-top: 40px;
    font-family: "Philosopher";
    text-indent: 15px;
    }
    #корт {
        height: 300px;
        width: 400px;
    }
    .пирамиды {
        width: 500px;
    }
    .навигация {
        margin-left: 20%;
        margin-right: 20%;
        width: 700px;
    }
    .Линии {
        font-size: 30px;
    }
    #Подача {
        font-size: 45px;
    }
    #решение {
        font-size: 45px;
    }
    #Конец {
        font-size: 45px;
    }
    #Разметка {
        font-size: 45px;
    }
    #Подсчет {
        font-size: 45px;
    }
    #Введение {
        font-size: 45px;
    }
}