@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Klee+One:wght@400;600&family=Kosugi+Maru&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Klee+One:wght@400;600&family=Kosugi+Maru&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Rampart+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #e4ad5ac9;
}

.wrapper {
    flex-grow: 1;
}

.open {
    display: flex !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background-color: #ecc646;
    color: #FAF6F2;
    padding: 0 40px;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #FAF6F2;
    margin-left: -10px;
    width: 90px;
    height: 90px;
}

.asmer {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.nav {
    display: flex;
    width: 100%;
    padding: 0 50px 0px 0;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li a {
    display: block;
    text-align: center;
    color: #000000;
    border: 0px solid black;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: -10px;
    font-size: 23px;
    text-decoration: none;
}

nav li:hover {
    border-radius: 15px;
    background: #e4760f;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 10px;
    color: rgb(44, 44, 44)
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0
}

.burger::after {
    bottom: 0
}


/* Добавляем класс active для анимации иконки бургера */
.burger.active span {
    transform: scale(0)
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: 900px) {

    .burger {
        display: flex
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #d8c056e1;
        animation: burgerAnimation 0.4s;
    }

    .nav ul {
        flex-direction: column;
        row-gap: 30px;
    }
}

@keyframes burgerAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* все меню кончилось*/
body {
    background: url(Человечек\ фон.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.play {
    width: 250px;
    height: 350px;
    perspective: 3000px;
    margin-left: 20%;
}
.cards {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.cards:hover > .front {
    transform: perspective(600px) rotateY(180deg);
}
.cards:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}
.front {
    transform: perspective(600px) rotateY(0deg);
    background: #000;
    overflow: hidden;
    backface-visibility: hidden;
}
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
    background: #c5b909;
    transform: perspective(600px) rotateY(180deg);
    transition: transform 0.6s linear ;
}
.Маришка {
    justify-content: left;
    border: 0.5px solid rgb(43, 42, 42);
    border-radius: 10px;
    margin-top: 17px;
    margin-right: 10px;
    float: left;
    margin-left: 10px;
    width: 25%;
    height: 200px;
}

.НМЕ {
    display: block;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 25px;
}
.тренер {
    text-indent: 10px;
    margin-left: 10px;
}
div > p {
    display: block;
    text-indent: 10px;
    text-align: left;
    font-size: 20px;
    margin-top: -10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.СМ {
    margin-left: 25px;
}

.Морж {
    margin-bottom: 20px;
    font-size: 23px;
}
.МЕ1 {
    border: 2px solid black;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.685);
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    background: #ffc955ce;
    transition: width 1.3s;
}
.МЕ1:hover {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.conteiner {
    margin-right: 6%;
    margin-left: 6%;
}
@media (max-width: 720px) {
    div > p {
font-size: 20px;
    }
}
@media (max-width: 450px) {
    .Маришка  {
        width: 40%;
    }
}


