
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    flex-grow: 1;
}

.open {
    display: flex !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background-color: #ecc646;
    color: #FAF6F2;
    padding: 0 40px;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #FAF6F2;
    margin-left: -10px;
    width: 90px;
    height: 90px;
}

.asmer {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.nav {
    display: flex;
    width: 700px;
    padding: 0 40px;
}

.nav ul {
    width: 2фф0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav li a {
    color: #000000;
    border: 0px solid black;
    border-radius: 30px;
    padding: 10px;
    font-size: 28px;
    text-decoration: none;
}

nav li a:hover {
    background: #e4760f;
    color: rgb(44, 44, 44)
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0
}

.burger::after {
    bottom: 0
}


/* Добавляем класс active для анимации иконки бургера */
.burger.active span {
    transform: scale(0)
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: 900px) {

    .burger {
        display: flex
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #d8c056e1;
        animation: burgerAnimation 0.4s;
    }

    .nav ul {
        flex-direction: column;
        row-gap: 30px;
    }
}

@keyframes burgerAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* все меню кончилось*/
body {
    background: url(Человечек\ фон.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Маришка {
    justify-content: left;
    border: 0.5px solid rgb(43, 42, 42);
    border-radius: 10px;
    margin-top: 17px;
    margin-right: 10px;
    float: left;
    margin-left: 10px;
    width: 35%;
    height: 200px;
}
.НМЕ {
    display: block;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 25px;
}
.тренер {
    text-indent: 10px;
    margin-left: 10px;
}
div > p {
    display: block;
    text-indent: 10px;
    text-align: left;
    font-size: 20px;
    margin-top: -10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.СМ {
    margin-left: 25px;
}
.Морж1 {
    margin-top: -15px;
}
.Морж2 {
    margin-bottom: 20px;
}
.МЕ1 {
    border: 2px solid black;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.685);
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background: #ffc955ce
}
@media (max-width: 380px){
    .Маришка {
        height: 170px;
    }
}
